/* WheelofFortune.css */
:root {
    --primary-color: rgb(84, 84, 239);
    --secondary-color: rgb(253, 194, 24);
    --hover-color:  rgb(202, 157, 23);
}



* {
    outline: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
}

body {
    
}

main {
    margin: auto;
    padding: auto;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    gap: 1rem;
}

.controls button {
    padding: 10px;
    font-size: large;
    border-radius: 5px;
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}



footer {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
}

footer p {
    outline: none;
    background-color: var(--secondary-color);
    border-radius: 5px;
    font-size: small;
}

footer a {
    text-decoration: none;
    color: green;
    outline: none;
}